<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.juztoss.bpmplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.juztoss.bpmplayer.presenters.BPMPlayerApp"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activities.PlayerActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.SettingsActivity">

        </activity>
        <activity android:name=".views.activities.SingleSongActivity">

        </activity>
        <activity android:name=".views.activities.SelectSongsActivity">

        </activity>
        <service
            android:name=".services.PlaybackService"
            android:enabled="true"/>

        <service
            android:name=".services.BuildMusicLibraryService"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.PlaybackActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.juztoss.bpmplayer.action.LAUNCH_NOW_PLAYING"/>
                <action android:name="com.juztoss.bpmplayer.action.SWITCH_PLAYBACK"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.NoisyIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
